* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  
    
  /* Style the content */
  .content {
    background-color: #f8f8f8;
    padding: 10px;
    height: max-content; /* Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
  }