.button {

    cursor: pointer;
    width:max-content;
    font-size: 14px;
    padding: 12px 14px;
    border-color: #ffffff00;
    border-radius: 7px;
    background: #444;
    box-shadow:  8px 8px 16px #2a2a2a88, 
                -8px -8px 16px #5e5e5e88;
    

  }
  .button:hover {
    border-color: #20ff7c00;
    border-radius: 7px;
    background: #444;
    box-shadow:  5px 5px 10px #2a2a2a, 
                 -5px -5px 8px #5e5e5e;
  }
  .button:active {
    border-color: #10f07000;
    border-radius: 7px;
    background: #444;
    box-shadow: inset 8px 8px 7px #2a2a2a, 
                inset -8px -8px 7px #5e5e5e;
  }








  .passwd{
    -webkit-text-security: disc;
    cursor: text;
    width: 75%;
    font-size: 14px;
    padding: 8px 8px;
    border-color: #ffffff99;
    border-radius: 7px;
    background: #222;
    color: #eee;
    box-shadow: inset 9px 9px 13px #2e2e2e44, 
    inset -9px -9px 13px #5a5a5a44;
                align-self: top;
    
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
  }



  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }