.button {
    cursor: pointer;
    width:min-content;
    font-size: 14px;
    padding: 12px 14px;
    border-color: #ffffff00;
    border-radius: 7px;
    background: #f4f4f4;
    box-shadow:  8px 8px 16px #7a7a7a88, 
                -8px -8px 16px #ffffff;
    

  }
  .button:hover {
    border-color: #20ff7c00;
    border-radius: 7px;
    background: #f4f4f4;
    box-shadow:  5px 5px 10px #7a7a7a88, 
                 -5px -5px 8px #ffffff;
  }
  .button:active {
    border-color: #10f07000;
    border-radius: 7px;
    background: #f4f4f4;
    box-shadow: inset 8px 8px 7px #7a7a7a44, 
                inset -8px -8px 7px #fff;
  }



  .buttonINLINE {
    cursor: pointer;
    width:min-content;
    font-size: 14px;
    padding: 8px 8px;
    border-color: #ffffff00;
    border-radius: 7px;
    background: #f4f4f4;
    box-shadow:  8px 8px 16px #7a7a7a88, 
                -8px -8px 16px #ffffff;
    

  }
  .buttonINLINE:hover {
    border-color: #20ff7c00;
    border-radius: 7px;
    background: #f4f4f4;
    box-shadow:  5px 5px 10px #7a7a7a88, 
                 -5px -5px 8px #ffffff;
  }
  .buttonINLINE:active {
    border-color: #10f07000;
    border-radius: 7px;
    background: #f4f4f4;
    box-shadow: inset 8px 8px 7px #7a7a7a44, 
                inset -8px -8px 7px #fff;
  }


  .passwd{
    -webkit-text-security: disc;
    cursor: pointer;
    width: 250px;
    font-size: 14px;
    padding: 8px 8px;
    border-color: #ffffff00;
    border-radius: 7px;
    background: #f4f4f4;
    box-shadow:  8px 8px 16px #7a7a7a88, 
                -8px -8px 16px #ffffff;
                box-shadow: inset 8px 8px 7px #7a7a7a44, 
                inset -8px -8px 7px #fff;
                align-self: top;
    
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }